<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutils</title>
</head>
<body>
<p><h2>Please Enter the Paragraph</h2></p>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea>
    <br>
    <input type='checkbox' name ='removepunc'>Remove Puncuations<br>
    <input type='checkbox' name ='newlineremover'>New Line Remover<br>
    <input type='checkbox' name ='spaceremover'>Space Remover<br>
    <input type='checkbox' name ='extraspaceremover'>Extra Space Remover<br>
    <input type='checkbox' name ='charcounter'>Character Counter<br>
    <button type='submit'> Analyze Text</button>
</form>

</body>
</html>